{% extends "base/base.html" %}
{% load static %}
{% load socialaccount %}
{% block title %}Login{% endblock %}
{% block start %}

<!-- ============================ COMPONENT LOGIN ================================= -->
<section class="section-content padding-bottom">
  <div class="container-xl d-flex justify-content-center align-items-center mt-5">
    <div class="row justify-content-center w-100">
      <div class="col-xl-4">
        <div class="card mb-4">
          <div class="card-header text-center" style="font-size: 25px">
            Sign In
          </div>
          <div class="card-body">
            <form method="POST" action="{% url 'login' %}?next={{ request.GET.next }}">
              {% csrf_token %}
              {% include "base/alert.html" %}

              <div class="form-group">
                <input
                  class="form-control"
                  required
                  placeholder="Username"
                  name="username"
                  type="text"
                  autocomplete="username"
                />
              </div>

              <div class="form-group">
                <input
                  class="form-control"
                  required
                  placeholder="Password"
                  name="password"
                  type="password"
                />
              </div>

              <div class="form-group d-flex justify-content-between">
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" checked/>
                  <div class="custom-control-label">Remember</div>
                </label>
                <a href="{% url 'password_reset' %}" class="float-right">Forgot password?</a>
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">
                  Login
                </button>
              </div>

              <p class="text-center mt-4">
                Don't have an account? <a href="{% url 'register' %}">Sign up</a>
              </p>

              <div class="line my-3"></div>

              {% if 'facebook' in socialaccount.providers %}
              <div class="media-options mb-2">
                <a href="{% provider_login_url 'facebook' %}" class="btn btn-primary btn-block" style="background-color: #3b5998;">
                  <i class="bx bxl-facebook"></i> Login with Facebook
                </a>
              </div>
              {% endif %}

              {% if 'google' in socialaccount.providers %}
              <div class="media-options">
                <a href="{% provider_login_url 'google' %}" class="btn btn-light btn-block border">
                  <img src="{% static 'images/google.png' %}" alt="" class="google-img" style="height:20px; margin-right:10px;"/>
                  Login with Google
                </a>
              </div>
              {% endif %}
              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ============================ COMPONENT LOGIN END ================================= -->

{% endblock %}
